*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(Images/photo51.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-Nav{
    height: 30px;
    width: 100%;
    background-color:black !important;
    color: white;
}  
.nav-elements{
    float: right;
    margin-top: -15px;
    font-size: small;
    margin-right: 200px;

}
.nav-elements>a{
    color: white;
    text-decoration: none;
}
.nav-elements>i{
    font-size: 30px;
}
.nav2{
    height: 140px;
    width: 100%;
    background-color: #007bff;
    margin: 0px;
    padding: 0px;
}
.nav2>a:first-child{
    font-size: 100px;
    color: white;
    padding: 0px;
    margin-left: 160px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    box-sizing: border-box;
    display: inline;
    text-decoration: none;
    color: none;
}
.nav2>ul{
    float: right;
    height: 50px;
    padding: 0px;
    margin-top: 40px;
    margin-right:180px;
}
.nav2>ul>li{
    display: inline-block;
    margin: 0px 5px;
    padding-right: 5px;
    padding-top: 20px;
}

.nav2>ul>li>div>button,
.nav2>ul>li>a
{
 font-size: 22px;
 color: white;
}
.nav2>ul>li>div>button:hover,
.nav2>ul>li>a:hover,
.nav2>a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.box{
    width: 400px;
    height: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #007bff;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

}
.box input[type ="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white !important;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1{
    color: white;
    font-weight: 500px;
}

.box input[type ="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white !important;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

